.animate-fade-in {
  animation: animate-fade-in 200ms ease-in;
}

@keyframes animate-fade-in {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
