@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background-primary: #0b0b0e;
  --background-secondary: #151517;
  --background-accent: #24d373;

  --accent-text: #51f9a0;

  --foreground: #f3f3f3;

  --secondary: #212024;
  --secondary-hover: #302f33;
  --secondary-text: #a0a0a6;

  --error: #f87878;

  /* SIZES */
  --header-height: 6.25rem;
  --max-app-width: 98.125rem;
}

@theme {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);

  --color-background-accent: var(--background-accent);
  --color-accent-text: var(--accent-text);

  --color-foreground: var(--foreground);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-text: var(--secondary-text);

  --color-error: var(--error);

  --font-roboto: var(--font-roboto);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


body {
  background: var(--background-primary);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
