---
- name: Auth for pull
  ansible.builtin.command:
    cmd: docker login -u '{{ registry_username | trim }}' -p '{{ registry_token | trim }}' {{ registry_url }}
  changed_when: false

- name: Pull image
  ansible.builtin.command:
    cmd: docker pull "{{ app_image }}:{{ app_version }}"
  changed_when: false