- name: Login to GitLab Container Registry
  docker_login:
    registry: "{{ registry_url }}"
    username: "{{ registry_username }}"
    password: "{{ registry_token }}"
  register: login_result

- name: Debug login result
  debug:
    var: login_result

- name: Pull image
  docker_image:
    name: "{{ app_image }}:{{ app_version }}"
    source: pull