# {{ ansible_managed }}

services:
  fear-bot:
    environment:
      - MONGO_URL={{ mongo_url }}
      - DISCORD_TOKEN={{ discord_token }}

  fear-backend:
    environment:
      - MONGO_URL={{ mongo_url }}
