---
- name: Clone/Update repository
  ansible.builtin.git:
    repo: "https://github.com/ayomi-s-code/Fear-Helper.git"
    dest: "{{ app_path }}"
    version: "main"
    force: yes
  environment:
    GITHUB_TOKEN: "{{ github_token }}"