---
- name: Clone/Update repository
  ansible.builtin.git:
    repo: "https://{{ github_token }}@github.com/ayomi-s-code/Fear-Helper.git"
    dest: "{{ app_path }}"
    version: "main"
    force: true
