@import "tailwindcss";

:root {
  --white-100: #fff;
  --white-200: #f3f3f3;

  --bg-100: #121115;
  --bg-200: #0c0b0f;

  --accent-100: #24d373;
  --accent-200: #51f9a0;

  --secondary-100: #1b1a1e;

  --font-roboto: "Roboto", sans-serif;

  --font-16: 1rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-32: 2rem;

  /* SIZES */
  --header-height: 6.25rem;
}

@theme {
  --color-bg-100: var(--bg-100);
  --color-bg-200: var(--bg-200);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-secondary-100: var(--secondary-100);
  
  --font-roboto: "Roboto", sans-serif;
}

body {
  background: var(--bg-100);
  color: var(--white-100);
  font-family: var(--font-roboto);
}
