name: Deploy to prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Deploy with Ansible
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: deploy.yml
          directory: ./deploy
          inventory: inventory.yml
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          vault_password: ${{secrets.ANSIBLE_PASSWORD}}