name: Deploy to prod
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install Ansible
        run: pip install ansible
      
      - name: Deploy with Ansible
        run: |
          echo "${{ secrets.ANSIBLE_PASSWORD }}" | ansible-playbook \
            -i deploy/inventory.ini \
            deploy/deploy.yml \
            --vault-password-file /dev/stdin \
            --private-key="${{ secrets.SSH_PRIVATE_KEY }}"
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
